/* 1. 默认（浅色模式）的调色盘 */
:root {
  --background: #836221; /* ✨ 在这里修改你的背景色！ */
  --foreground: #171717; /* 字体的颜色 */
}

/* 2. 深色模式的调色盘 */
@media (prefers-color-scheme: dark) {
  :root {
    /* 如果你希望深色模式下也是这个米白色，就把下面这行也改成 #fdfbf7 */
    /* 否则它在深色模式下会保持纯黑 #0a0a0a */
    --background: #570808; 
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  /* 3. 恢复使用变量：告诉 body 去调色盘里拿背景色 */
  background: var(--background); 
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}